.like-btn {
  box-sizing: border-box;
  padding: 14px 14px;
  margin-left: 30px;
  background-color: #fff;
  background-image: url(../../images/like-icon.svg);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.like-btn:hover {
  opacity: .6;
  transition: opacity .3s ease-in-out;
}