.edit-btn {
  justify-self: start;
  align-self: end;
  grid-column: -2;
  grid-row: 1;
  margin-bottom: 8px;
  padding: 11px 11px;
  box-sizing: border-box;
  border: 1px solid #fff;
  background-color: #000;
  background-image: url(../../images/pen-icon.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.edit-btn:hover {
  opacity: .6;
  transition: opacity .3s ease-in-out;
}

@media (max-width: 424.9px) {
  .edit-btn {
    margin-bottom: 6px;
    padding: 9px 9px;
    background-size: 7.5px;
  }
}