.form__submit-btn {
  box-sizing: border-box;
  margin-top: auto;
  padding: 14px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  color: #fff;
  border: none;
  border-radius: 2px;
  background-color: #000;
  cursor: pointer;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.form__submit-btn:hover {
  opacity: .8;
  transition: opacity .3s ease-in-out;
}

@media (max-width: 424.9px) {
  .form__submit-btn {
    font-size: 14px;
    line-height: 16.94px;
  }
}