.popup__close-btn {
  position: absolute;
  top: -40px;
  right: -40px;
  box-sizing: border-box;
  padding: 16px;
  border: none;
  background-color: transparent;
  background-image: url(../../../images/Close-Icon.svg);
  background-size: 32px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.popup__close-btn:hover {
  opacity: .6;
  transition: opacity .3s ease-in-out;
}

@media (max-width: 589.9px) {
  .popup__close-btn {
    right: 0;
  }
}

@media (max-width: 424.9px) {
  .popup__close-btn {
    top: -36px;
    padding: 10px;
    background-size: 20px;
  }
}
